.card-header {
  display: flex;
  margin: 8px;
}

.card-header button {
  justify-self: flex-end;
}

.subreddit-icon {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ccc;
  margin-right: 4px;
  height: 20px;
}

.subreddit-name {
  font-size: 12px;
  font-weight: bold;
  color: #1c1c1c;
  line-height: 20px;
}

.subreddit-name:hover {
  text-decoration: underline;
}

.post-info {
  color: rgb(120, 124, 126);
  font-size: 12px;
  line-height: 20px;
  margin-left: 9px;
}
