@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/font/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/font/IBMPlexSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/font/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}

#home {
  background-color: #dae0e6;
  font-family: "IBMPlexSans", Arial, sans-serif;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
}

#home-header {
  color: #1a1a1b;
  font-size: 14px;
  padding-bottom: 10px;
}

#home-container {
  width: 640px;
}

@media (max-width: 500px) {
  #home {
    padding: 20px 0;
  }
}
