@font-face {
  font-family: "Noto-Sans";
  src: url("../assets/font/NotoSans-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto-Sans", Arial, sans-serif;
}
