#new-post-container {
  background-color: #dae0e6;
  min-height: 100vh;
  font-family: "IBMPlexSans";
  display: flex;
  justify-content: center;
}

#new-post {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 640px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 10px;
  height: min-content;
  padding: 40px;
}

#new-post input[type="text"] {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#new-post textarea {
  font-family: "Noto-Sans", Arial, sans-serif;
  padding: 8px 16px;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border-color: #ddd;
}

#new-post .switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0079d3;
  border-radius: 10px;
}

.slider:hover {
  background-color: #1484d7;
}

.slider::before {
  position: absolute;
  background-color: white;
  content: "";
  height: 14px;
  width: 14px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: 0.3s;
}

.slider:hover::before {
  background-color: #ddd;
}

input:checked + .slider::before {
  transform: translateX(20px);
}

#submit-post-btn {
  padding: 4px 20px;
  margin: 0px 8px;
  font-size: 12px;
  background-color: #0079d3;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  /* width: min-content; */
}

#submit-post-btn:hover {
  background-color: #1484d7;
}

#submit-post-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

#new-post label {
  display: flex;
  flex-direction: column;
}

#choose-content {
  margin-bottom: 15px;
}

#choose-content label {
  margin: 0 5px;
}

@media (max-width: 500px) {
  #new-post {
    padding: 40px 0;
  }
}
