.thread {
  background-color: #dae0e6;
  font-family: "IBMPlexSans", Arial, sans-serif;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
}

.thread-container {
  width: 640px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
}

.thread .text-preview {
  max-height: 100%;
}

.thread .text-preview::after {
  opacity: 0;
}

.thread .card {
  border: none;
  margin-bottom: 0;
  cursor: default;
}

@media (max-width: 500px) {
  .thread {
    padding: 20px 0;
  }
}
